@model SitecoreCompanyWebsite.Feature.PageContent.Models.Glass_Mapper.Global_Templates.ISamplePart
@using Glass.Mapper.Sc.Web.Mvc

<div class="span6">
    <h3>@Html.Glass().Editable(x => x.Title)</h3>
    <p>@Html.Glass().Editable(x => x.Description)</p>
</div>