<?xml version="1.0" encoding="utf-8"?>
<connectionStrings configBuilders="SitecoreConnectionStringsBuilder">
	<!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
	<add name="core" connectionString="Data Source=DESKTOP-Q1BE27P;Initial Catalog=CompanyWebsite_Core;User ID=coreuser;Password=aKo7geO72KIuvfeAMjrM" />
	<add name="security" connectionString="Data Source=DESKTOP-Q1BE27P;Initial Catalog=CompanyWebsite_Core;User ID=securityuser;Password=NCKBQ9OF3URYWXRPEccv" />
	<add name="master" connectionString="Data Source=DESKTOP-Q1BE27P;Initial Catalog=CompanyWebsite_Master;User ID=masteruser;Password=udoxorH3jFaOPW7776je" />
	<add name="web" connectionString="Data Source=DESKTOP-Q1BE27P;Initial Catalog=CompanyWebsite_Web;User ID=webuser;Password=cO0sjTjFteqjAjrNoZ9E" />
	<add name="messaging" connectionString="Data Source=DESKTOP-Q1BE27P;Initial Catalog=CompanyWebsite_Messaging;User ID=messaginguser;Password=kWXsLmoIrfG0xv1n2yFA" />
	<add name="xdb.processing.pools" connectionString="Data Source=DESKTOP-Q1BE27P;Initial Catalog=CompanyWebsite_Processing.Pools;User ID=poolsuser;Password=a6IH0uZXKVPuDJyIpV2c" />
	<add name="xdb.referencedata" connectionString="Data Source=DESKTOP-Q1BE27P;Initial Catalog=CompanyWebsite_ReferenceData;User ID=referencedatauser;Password=xHYSwV4lcQdXrz6F598B" />
	<add name="xdb.processing.tasks" connectionString="Data Source=DESKTOP-Q1BE27P;Initial Catalog=CompanyWebsite_Processing.Tasks;User ID=tasksuser;Password=w9rKHUpjuZlKeBIVOdFc" />
	<add name="experienceforms" connectionString="Data Source=DESKTOP-Q1BE27P;Initial Catalog=CompanyWebsite_ExperienceForms;User ID=formsuser;Password=SNYXzlmXnoQb93gACOrp" />
	<add name="exm.master" connectionString="Data Source=DESKTOP-Q1BE27P;Initial Catalog=CompanyWebsite_EXM.Master;User ID=exmmasteruser;Password=TKIqg5DX6THuxQxRcqzj" />
	<add name="reporting" connectionString="Data Source=DESKTOP-Q1BE27P;Initial Catalog=CompanyWebsite_Reporting;User ID=reportinguser;Password=f3r84xRo47kdFvq7UEth" />
	<add name="cortex.processing.engine" connectionString="https://CompanyWebsitexconnect.dev.local" />
	<add name="cortex.processing.engine.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=CD902839B880AC274396E4C7871FBC47AC0219EA" />
	<add name="sitecore.reporting.client" connectionString="https://CompanyWebsitexconnect.dev.local" />
	<add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=CD902839B880AC274396E4C7871FBC47AC0219EA" />
	<add name="solr.search" connectionString="https://localhost:8980/solr" />
	<add name="sitecoreidentity.secret" connectionString="RKQ58FijjOIBXa3zH24Gw9gB4nUs6yzShQ7hSVjqQmtnKHj2zT39Kv8bc3cOlJqHs3BoUr2WnJLYraVX2ZxshnkiFeWGrNYiMMid" />
	<add name="xconnect.collection" connectionString="https://CompanyWebsitexconnect.dev.local" />
	<add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=CD902839B880AC274396E4C7871FBC47AC0219EA" />
	<add name="xdb.marketingautomation.operations.client" connectionString="https://CompanyWebsitexconnect.dev.local" />
	<add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=CD902839B880AC274396E4C7871FBC47AC0219EA" />
	<add name="xdb.marketingautomation.reporting.client" connectionString="https://CompanyWebsitexconnect.dev.local" />
	<add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=CD902839B880AC274396E4C7871FBC47AC0219EA" />
	<add name="xdb.referencedata.client" connectionString="https://CompanyWebsitexconnect.dev.local" />
	<add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=CD902839B880AC274396E4C7871FBC47AC0219EA" />
	<add name="EXM.CryptographicKey" connectionString="0x3454667280344532166443999955379441029827633894613319872709467034" />
	<add name="EXM.AuthenticationKey" connectionString="0x4429315889293711861216210294262232674620491787401765355520130269" />
</connectionStrings>